body {
	background-color:#666;
  color:white;  
  font-family: sans-serif;
  -webkit-font-smoothing:antialiased;
}
#demo {
  position:relative;
  width:500px;
  height:445px;
  background-color:#000;
  margin:auto; 
  overflow: hidden;
  visibility: hidden;
}
.panel {
  position:absolute;
  width:500px;
  height:445px;
}
.star {
  position:absolute;
  width:27px;
  height:4px;
  background:url(../img/star.png);
}
.title {
  font-family: sans-serif;
  position:absolute;
  display:inline-block;
  margin:0;
  font-weight:400;
}
#title1 {
  font-size:90px;
  top:80px;
}
#title2 {
  font-size:40px;
  top:170px;
}

#title3 {
  font-size:140px;
  top:210px;
}